---
import { getHero } from "../utils/sanity";



const { section } = Astro.props; 


---

<div class="hero-section h-[560px] lg:h-[900px] w-full flex flex-col justify-center items-center gap-10">
    <h1 class="text-center leading-none">GOBERT<br /> DAS MODEHAUS</h1>
    <p class="w-[330px] md:w-[600px] lg:w-[750px] text-center">Mit aktueller, hochwertiger Mode für Sie und Ihn, fachmännischer Beratung und starken Serviceleistungen in einem.</p>
    <button class="btn"><a href="#kundenservice">UNSER SERVICE</a></button>
</div>


<style>

    h1 {
        color: white;
        font-size: 60px;
        font-weight: 300;
        line-height: 1.2;
    }

    p {
        color: white;
        font-size: 20px;
        font-weight: 200;
        line-height: 1.5;
    }

    .hero-section {
        background-image: url("/images/header-gobert-neu.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    @media screen and (max-width: 769px) {
        h1 {
            font-size: 35px;
        }

        p {
            font-size: 16px;
        }

        .hero-section {
            background-image: url("/images/header-gobert-neu-mobil.jpg");
        }


    }

</style>

